<div class="cpr-container">
    <label class="cpr-bold">SENDER:</label>
    <select name="sourceActor" class="cpr-input">
        {{#each actors}}<option value="{{this.id}}">{{this.name}}</option>{{/each}}
    </select>
    <label class="cpr-bold">RECIPIENT:</label>
    <select name="targetActor" class="cpr-input">
        <option value="afterlife">Shared Fund</option>
        {{#each allActors}}<option value="{{this.id}}">{{this.name}}</option>{{/each}}
    </select>
    <label class="cpr-bold">AMOUNT:</label>
    <input type="number" name="amount" class="cpr-input" min="1">
    <button type="button" class="cpr-btn approve" data-action="submitTransfer">SEND TRANSFER</button>
</div>